* {
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }
}

html, body {
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 10px 10px 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select, input {
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 4px;
}

#serial {
    .status {
        display: inline-block;
        &::before {
            text-align: center;
        }
    }
}

#server {
    margin-top: 15px;

    .port {
        border: none;

        &::before {
            content: ":"
        }

        &.unvalid-port {
            border-bottom: solid 1px red;
            &::after {
                content: "🛑"
            }
        }
    }

    .clients {
        &:before {
            content: attr(data-content);
        }
    }

    .port, .status, .clients {
        display: inline-block;
    }
}

.status {
    &.open {
        &::before {
            color: rgb(37, 153, 59);
            content: "●";
        }
    }

    &:not(.open) {
        &::before {
            color: rgb(158, 29, 29);
            content: "✖︎";
        }
    }
}

.data {
    &:before {
        content: "> "
    }

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
